body {
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Arial, sans-serif;
}

.container {
    display: flex;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    display: flex;
    align-items: center;
    width: 20%;
    font-size: 24px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    gap: 40px;
}

.navbar a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
}

.header {
    background-color: #0A1530;
    color: #fff;
    border-bottom: 1px solid #203053;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main {
    flex: 1;
    padding: 1rem;
}

.globalErrorContainer {
    position: relative;
    height: 100vh;
    background: #030005;
}

.globalErrorDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}

.globalError500 {
    position: relative;
    height: 180px;
    margin-bottom: 20px;
    z-index: -1;
}

.globalError500 h1 {
    font-family: montserrat, sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 224px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -12px;
    color: #030005;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #34495e, 1px 1px 0 #ff005a;
    letter-spacing: -20px;
}

.globalError500 h2 {
    font-family: montserrat, sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 2px 0 #34495e;
    letter-spacing: 13px;
    margin: 0;
}

.globalErrorDiv .home {
    font-family: montserrat, sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #ff005a;
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    background: 0 0;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.home .retryButton:hover {
    cursor: pointer;
    color: #34495e;
}

